@font-face {
  font-family: 'Verifont';
  src:
    local('Verifont'),
    local('Verifont'),
    url(./font/veri.otf) format('opentype');
}
.App {
  font-family: 'Verifont';
  text-align: center;
  display: flex;
  background-color: #ac451d;
  flex-direction: column;
  justify-content: center;
  height: 51rem;
}

.backgr {
  background-image: url('./img/fond-home1280.jpg');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10%;
  width: 10%;
  pointer-events: none;
  margin: 0 auto;
 
}

.App-header {
  display: flex;
  background-color:#ac451d;
  flex-direction: row;
  justify-content: center;
  color: white;
  width: 100%;
  font-family: 'Verifont';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text {
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
  font-size: 20px;
}
.welcome {
  font-size: 20px;
  text-align: center; 
}
.instructions {
  text-align: center; 
  color: '#333333';
}
.tabIcon {
  width: 16;
  height: 16;
}
.r-clock {
  display: flex;
  justify-content: center;
}
.clock-sign {
  font-family: 'Verifont';
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav {
  background-color: #ac451d;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.val {
  margin: 45% auto 65% auto;
  padding: 5% 15% 5% 15%;
  width: max-content;
}
.work {
  margin: 45% 0 55% 0;
  padding: 5%;
  width: max-content;
}
time {
  margin: 10% 0;
}

/* Profile */
.profile-background {
  width: 375px;
  height: 318px;
  background-image: linear-gradient(311deg, #ff3c54, #b5003c);
}

.profile-background img {
  width: 100%;
  opacity: 0.4;
  height: 20rem;
  position: absolute;
}

.profile-name {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 0 2rem;
}

.profile-name h1 {
  position: relative;
  margin: 0 1rem 0 0;
  font-family: CircularStd;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 10rem 0 0;
}

.profile-ul{
  margin: 2rem 0 2rem 0;
  padding: 0px;
}

.profile-list {
  list-style: none;
  border: 1px solid grey;
  padding: 1rem 0 1rem 0;
}

.profile-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-data h3 {
  margin: 0 5rem 0 0;
  width: 47px;
  height: 22px;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.4px;
  color: #425273;
}

.profile-data p {
  width: 164px;
  height: 22px;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.4px;
  text-align: right;
  color: #f0516e;
}

.logos {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: inline-flex;
  flex-direction: column;
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-width: 414px) and (max-height: 896px) {
  /* Styles */
  .App {
    width: 100%;
    height: 1000px;
  }
}
@media only screen and (min-width: 414px) and (max-height: 896px) and (orientation: landscape) {
  .App {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .logos {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    height: max-content;
  }
  .buttons {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid green;
    height: max-content;

  }
}
/* NEW CLOCK STYLES */
/* html, body { height: 100%; margin: 0; overflow: hidden; }

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: Roboto Mono, Arial, sans-serif;
  font-size: 8vw;
  text-align: center;
  
  background-color: #ac451d;
  color: #eee;
  user-select: none;
} */

hr {
  border: 0;
  border-bottom: 1px solid #444;
}
#date, #hours, #minutes, #seconds {
  margin: 0;
  text-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.7), 
               0rem 0rem 2rem rgba(255, 255, 255, 0.3);
}
#hours, #minutes, #seconds {
  display: inline-block;
}
#date {
  font-size: 6.3vw;
  margin: 0 0 2rem 0;
}
#hours, #minutes {
  font-size: 20vw;
  font-weight: 300;
}
#seconds {
  font-size: 12vw;
  font-weight: 100;
}
.newclock {
  margin: 15% 0;
}

@media only screen and (max-height: 770px) {
  .newclock {
    margin: 5% 0;
  }
  .work {
    margin: 40% 0 50% 0;
  }
  .val{
    margin: 40% auto 50% auto;
  }
}

/*LOGO DE VERITAS*/

#logo{
  font-family: 'Verifont';
  width: 60px;
	height: 80px;
	transform-origin: left bottom;
	animation: total 3s 1s forwards;
  text-align:center;
  align-self: center;
  margin: 6rem 0 5rem -19rem;
}
#logo p{ 
  position: absolute; 
	width: max-content;
	height: 80px;
  transform-origin: left bottom;
  font-size: 60px;
  background-color: #ac451d;
}
#one{	
  z-index: 10;
	animation: one .5s 1s forwards;
}
#two{
 	z-index: 9;
	animation: two .5s 2s forwards;
}
#three{
 	z-index: 8;
	animation: three .5s 2.2s forwards;
}
#four{
	z-index: 7;
	animation: four .5s 2.4s forwards;
}
#five{
	z-index: 6;
	animation: five .5s 2.6s forwards; 
}
#six{
	z-index: 5;
	animation: six .5s 2.8s forwards;   
}
#seven{
	z-index: 4;
	animation: seven .5s 3s forwards;   
}

@keyframes total {
  0% {
    opacity: 0;
		transform:scale(1,0)
	}
	25% {
		opacity: 1;
    transform: scale(1);
  }
  88%
  {
     color:#000; 
	} 
  100%
  {
    transform: scale(1.5);
    color: white;
  }
}
 
@keyframes one {
  100%{}
}
@keyframes two {
  100% {left:60%;}
}
@keyframes three {
  100% {left:120%;}
}
@keyframes four {
  100% {left:190%;}
}
@keyframes five {
  100% {left:230%;}
}
@keyframes six {
  100% {left:290%;}
}
@keyframes seven {
  100% {left:360%;}
}